{% extends 'base.html.twig' %}

{% block title %}Food Supply Details!{% endblock %}

{% block body %}
    <a href="{{ path('supply_list') }}" class="btn btn-default">Back to Food List</a>
    <hr/>
    <h2 class="page-header">{{ supplies.Name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Id: {{ supplies.id }}</li>
        <li class="list-group-item">Name Supply: {{ supplies.Name }}</li>
        <li class="list-group-item">Quantity Supply: <strong>{{ supplies.QuantitySupply }}</strong></li>
        <li class="list-group-item">Date Supply: <strong>{{ supplies.datesupply|date('F j,Y, g:i a') }}</strong></li>
    </ul>
{% endblock %}