{% extends 'base.html.twig' %}

{% block title %}Delivery Details!{% endblock %}

{% block body %}
    <a href="{{ path('delivery_list') }}" class="btn btn-default">Back</a>
    <hr/>
    <h2 class="page-header">{{ delivery.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Id: {{ delivery.id }}</li>
        <li class="list-group-item">Customer Name: {{ delivery.CustomerID }}</li>
        <li class="list-group-item">Food Name: {{ delivery.FoodID }}</li>
        <li class="list-group-item">Quantities: {{ delivery.Quantity }}</li>
        <li class="list-group-item">Payment: {{ delivery.Payment }}</li>
        <li class="list-group-item">Date Delivery: {{ delivery.DateDelivery|date('F j,Y, g:i a')  }}</li>
    </ul>

{% endblock %}