{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="delivery_date">Delivery Date:</label>
        {{ form_widget(form.date_delivery,{
            'attr':{
                'class':'form-control',
                'placeholder': 'delivery date'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_customer">Customer ID:</label>
        {{ form_widget(form.Customer_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Customer Name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_food">Food ID:</label>
        {{ form_widget(form.Food_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Food Name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        {{ form_widget(form.Quantity,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Quantity'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="payment">Payment:</label>
        {{ form_widget(form.Payment,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Payment'
            }
        }) }}
    </div>
    <input type="submit" name="edit_delivery" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}