{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="date_supply">Delivery Date:</label>
        {{ form_widget(form.Date_Supply,{
            'attr':{
                'class':'form-control',
                'placeholder': 'supply date'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_order">Order ID:</label>
        {{ form_widget(form.Order_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Order ID'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_customer">Customer Name:</label>
        {{ form_widget(form.Customer_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Customer Name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_food">Food Name:</label>
        {{ form_widget(form.Food_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Food Name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_supply">Supply ID:</label>
        {{ form_widget(form.Supply_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Supply'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="id_delivery">Delivery ID:</label>
        {{ form_widget(form.Delivery_ID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Delivery'
            }
        }) }}
    </div>
    <input type="submit" name="transaction_edit" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}